
<h2>Admin Edit</h2>
<head>
    <link href="~/Content/enrollment.css" rel="stylesheet" />
</head>

<div class="jumbotron" style="">
    <table id="studentGrid"></table>
    <div id="studentControls"></div>
    <br />
    <table id="courseGrid"></table>
    <div id="courseControls"></div>
    <br />
    <table id="instructorGrid"></table>
    <div id="instructorControls"></div>
    <br />
    <table id="classGrid"></table>
    <div id="classControls"></div>
</div>

@section scripts{
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.jqGrid.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.0.min.js"></script>
    <script src="~/Scripts/i18n/grid.locale-en.js"></script>
    <script src="~/Scripts/StudentGrid.js"></script>
    <script src="~/Scripts/InstructorGrid.js"></script>
    <script src="~/Scripts/CourseGrid.js"></script>
    <script src="~/Scripts/ClassGrid.js"></script>
}

