body {
}

#Program, #CourseID, #InstructorID, #ClassTime, #ClassDate {
    width: 14em;
    padding: .4em;
}

#Program {
    width: 13em;
    padding: .3em;
}

.form-group table thead tr td {
    width: 15em;
    text-align: left;
    padding: .4em;
    font-weight: bold;
    color: #fff;
    background-color: #212529;
    border-color: #32383e;
    border-bottom: 2px solid #dee2e6;
}

.buttonUpdate {
    width: 10em;
}

input[readonly] {
    background-color: lightgray;
}

.radio-input {
    text-align: center;
}

.error-message {
    color: red;
}

.btn_Delete {
    background: url('../images/close.png') no-repeat;
    border: none;
    width: 40px;
    height: 30px
}

.errorClass {
    border: 1px solid red;
}

.validation-summary-errors {
    color: red;
    font-weight: bold;
}

.error {
    padding-bottom: 1em;
}
